.center {
    text-align: center;
    text-emphasis: bold;
    background-color: red;
    color: black;
}

.list {
    text-emphasis: bold;
    background-color: antiquewhite;

}

.instr {
    background-color: bisque;
}